<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="vue.js"></script>
</head>
<body>
<div id="app">
    {{message}}<br/>
    <input v-model="message"><br/>
    <span v-bind:title="message">鼠标悬停</span>
    <ol>
        <li v-for="todo in todos">{{todo.text}}</li>
    </ol>
</div>

</body>

<script>

    new Vue({
        el: '#app',
        data: {
            a: 1,
            message: "Hello world!",
            todos: [
                {text: '学习 JavaScript'},
                {text: '学习 Vue'},
                {text: '整个牛项目'}
            ]
        },
        method: {
            doSomething: function () {
                this.a++;
                console.log(">>??");
            }
        },
        watch: {
            'message': function (val, oldVal) {
                console.log(val, oldVal);
            }
        }
    })
</script>
</html>